<!-- application.hbs -->
<div class='application'>
	<div class='hex-outlet'></div>
	<div class='rgb-outlet'></div>
	<div class='cmyk-outlet'></div>
	<div class='hsv-outlet'></div>
	<div class='sprintf-outlet'></div>
</div>