{{! cmyk.hbs }}
<div class='format format-cmyk'>
	<div class='format-name'>
		<p>CMYK</p>
	</div><div class='format-form quarter-group'>
		<div class='quarter'>
			<input class='input-quarter textbox textbox-cmyk textbox-cmyk-cyan' type='text' placeholder='Cyan' value="{{cmyk.0.}}"/>
		</div><div class='quarter'>
			<input class='input-quarter textbox textbox-cmyk textbox-cmyk-magenta' type='text' placeholder='Magenta' value="{{cmyk.1.}}"/>
		</div><div class='quarter'>
			<input class='input-quarter textbox textbox-cmyk textbox-cmyk-yellow' type='text' placeholder='Yellow' value="{{cmyk.2.}}"/>
		</div><div class='quarter'>
			<input class='input-quarter textbox textbox-cmyk textbox-cmyk-black' type='text' placeholder='Black (K)' value="{{cmyk.3.}}"/>
		</div>
	</div>
</div>
