<!-- hex.hbs -->
<div class='format format-hex'>
	<div class='format-name'>
		<p>HEX</p>
	</div><div class='format-form'>
		<input class='input-whole textbox textbox-hex' type='text' placeholder='#Hexidecimal' value='{{hex}}'/>
	</div>
</div>