{{! hsv.hbs }}
<div class='format format-hsv'>
	<div class='format-name'>
		<p>HSV</p>
	</div><div class='format-form third-group'>
		<div class='third'>
			<input class='input-third textbox textbox-hsv textbox-hsv-hue' type='text' placeholder='Hue' value="{{hsv.0.}}"/>
		</div><div class='third'>
			<input class='input-third textbox textbox-hsv textbox-hsv-saturation' type='text' placeholder='Saturation' value="{{hsv.1.}}"/>
		</div><div class='third'>
			<input class='input-third textbox textbox-hsv textbox-hsv-value' type='text' placeholder='Value' value="{{hsv.2.}}"/>
		</div>
	</div>
</div>