<!-- rgb.hbs -->
<div class='format format-rgb'>
	<div class='format-name'>
		<p>RGB</p>
	</div><div class='format-form third-group'>
		<div class='third'>
			<input class='input-third textbox textbox-rgb textbox-rgb-red' type='text' placeholder='Red' value="{{rgb.0.}}"/>
		</div><div class='third'>
			<input class='input-third textbox textbox-rgb textbox-rgb-green' type='text' placeholder='Green' value="{{rgb.1.}}"/>
		</div><div class='third'>
			<input class='input-third textbox textbox-rgb textbox-rgb-blue' type='text' placeholder='Blue' value="{{rgb.2.}}"/>
		</div>
	</div>
</div>