{{! sprintf.hbs }}
<div class='format format-sprintf'>
	<div class='format-name'>
		<p>Custom</p>
	</div><div class='format-form'>
		<div class='fstring-outlet'></div>
		<input class='input-whole textbox textbox-formula' type='text' placeholder='Custom Format String' value='{{formula}}'/>
	</div>
</div>